@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.fw-500{font-weight:400;}
.fw-300{font-weight:300;}
.fs-1{font-size: small;}
.fs-2{font-size: medium;}

.pink{background: #bbe3e9;}
.black{background: #cce6eec2;}
.lightpink{background: #fdeaed;}